<div class="games-card mt-4">
    <h1 class="game-card-heading">DISCOVER NEW GAMES</h1>
    <div class="cards d-flex justify-content-center">
        <div class="main-card m-4" routerLink="games">
            <div class="card-image-container">
                <iframe src="https://gifer.com/embed/Le2o" width=480 height=269.333 frameBorder="0"
                    allowFullScreen></iframe>
                <div class="card-content">
                    <h4>Thriller</h4>
                    <div class="inner-content">
                        <img src="\assets\sideimage1.jpeg">
                        <div class="inner-text">
                            <h2>Spore</h2>
                            <p>Play the Excited Games</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card m-4" routerLink="games">
            <div class="card-image-container">
                <iframe src="https://gifer.com/embed/1YYt" width="480" height="269.333" frameBorder="0"
                    allowFullScreen></iframe>
                <div class="card-content">
                    <h4>Adventure</h4>
                    <div class="inner-content">
                        <img src="\assets\sideimage1.jpeg" class="card-inner-image">
                        <div class="inner-text">
                            <h2>Spore</h2>
                            <p>Play the Excited Games</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card m-4" routerLink="games">
            <div class="card-image-container">
                <iframe src="https://gifer.com/embed/6Z83" width="480" height="269.333" frameBorder="0"
                    allowFullScreen></iframe>
                <div class="card-content">
                    <h4>Gun Shoot</h4>
                    <div class="inner-content">
                        <img src="\assets\sideimage1.jpeg" class="card-inner-image">
                        <div class="inner-text">
                            <h2>Spore</h2>
                            <p>Play the Excited Games</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="cards d-flex justify-content-center">
        <div class="main-card m-4">
            <div class="card-image-container">
                <iframe src="https://gifer.com/embed/5Ik9" width="480" height="269.333" frameBorder="0"
                    allowFullScreen></iframe>
            </div>
            <div class="card-content">
                <h4>Reach Destination</h4>
                <div class="inner-content">
                    <img src="\assets\sideimage1.jpeg" class="card-inner-image">
                    <div class="inner-text">
                        <h2>Spore</h2>
                        <p>Play The Excted Games</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card m-4">
            <div class="card-image-container">
                <iframe src="https://gifer.com/embed/EDVh" width=480 height=268.000 frameBorder="0"
                    allowFullScreen></iframe>
            </div>
            <div class="card-content">
                <h4>Fight</h4>
                <div class="inner-content">
                    <img src="\assets\sideimage1.jpeg" class="card-inner-image">
                    <div class="inner-text">
                        <h2>Spore</h2>
                        <p>Play The Excted Games</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card m-4">
            <div class="card-image-container">
                <iframe src="https://gifer.com/embed/Z3O2" width=400 height=269.333 frameBorder="0"
                    allowFullScreen></iframe>
            </div>
            <div class="card-content">
                <h4>Funny</h4>
                <div class="inner-content">
                    <img src="\assets\sideimage1.jpeg" class="card-inner-image">
                    <div class="inner-text">
                        <h2>Spore</h2>
                        <p>Play The Excted Games</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>