<div class="visual-container">
    <div class="main-container1">
        <div class="left">
            <img src="assets/visualsideimage.jpg" alt="Visual Side Image">
        </div>
        <div class="right">
            <div class="visual-card-details">
                <h1>EXPLORE GAMES</h1>
                <span class="gradient-text">VISUALLY</span>
                <p>You will get real-time experience while playing these visual games.</p>
                <h1>PLAY NOW</h1>
            </div>
        </div>
    </div>
</div>

